<div
  class='container d-flex justify-content-center align-center flex-column'
  style='margin-top:20vh;'
>
  <h1 class='title text-center align-top'>ERROR</h1>
  <br />
  <h2 class='text-center'>
    Status Code:
    <span style='color:red;'>{{code}}</span>
  </h2>
  <h2 class='text-center'>
    Message:
    {{message}}
  </h2>
</div>