<br />
<div class='container'>
  <h2 class='text-center'>PostBlog</h2>
  <br />

  <div class='card post-item'>
    <div class='card-body'>
      <h5 class='card-title d-inline'>Coders</h5>
      <p class='small'>by StefanPetrov</p>
      <p class='card-text'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet
        aliquet ligula, sit amet euismod libero ornare a. Pellentesque lacus
        purus, commodo sit amet semper facilisis, accumsan sed diam. Curabitur
        tristique urna eget nunc suscipit, non bibendum quam aliquam.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Proin vel iaculis libero. In varius finibus
        orci, a molestie arcu iaculis quis. Sed pellentesque felis enim, ac
        interdum tellus auctor ut.
      </p>
      <div class='d-flex justify-content-center'>
        <a href='#' class='center-block btn btn-primary'>
          View Post
        </a>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <h5 class='card-title d-inline'>Post Title</h5>
      <p class='small'>by me</p>
      <p class='card-text'>Post Description</p>
      <a href='#' class='btn btn-primary'>
        View Post
      </a>
    </div>
  </div>
</div>